html {
    font-size: 62.5%; /*10/16 base font size at 10px */
    letter-spacing: -.2px;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    background: none;
    color: #9b9b9b;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: $white;
    font-size: var(--default-font-size);
    font-family: "Montserrat-Medium";
    color: var(--body-color);
}

a {
    text-transform: uppercase;
}

a:hover,
a:focus{
    text-decoration: none;
}

.content-wrapper {
    max-width: 1223px;
    margin: 0 auto;
}

.page-link {
    color: var(--links-color);
}
.page-link:hover,
.page-link:focus{
    color: var(--links-color);
}

.row {
    margin: 0;
}

.nav-tabs {
    border-bottom: none; 
    margin-bottom: 2rem;
}

.nav-tabs > li > a {
    font-size: 18px;
    color: var(--border-color);
}
.nav-tabs > li > a:hover {
    background-color: transparent;
    border-color: transparent;
    color: var(--links-color);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 1px solid transparent;
    color: var(--links-color);
}