html {
    font-size: 62.5%; /*10/16 base font size at 10px */
    letter-spacing: -.2px;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    background: none;
    color: #9b9b9b;
}

html,
body {
    font-family: "Montserrat-Medium";
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: $white;
    font-size: var(--default-font-size);
}

a {
    text-transform: uppercase;
}

a:hover,
a:focus{
    text-decoration: none;
}

.content-wrapper {
    max-width: 1223px;
    margin: 0 auto;
}

.page-link {
    color: var(--links-color);
}
.page-link:hover,
.page-link:focus{
    color: var(--links-color);
}