@media (min-width: 992px) {
    .nav > li {
        margin-right: 1.5rem;
    }
    .navbar-brand > img {
        max-height: 5.4rem;
    }
    .nav > li > a {
        padding: 1rem 1.5rem;
    }

        .nav > li.dropdown {
            margin-right: 3rem;
        }
    .dropdown-toggle:after {
        right: -1rem;
    }
}
