@media (min-width: 992px) {
    .nav > li {
        margin-right: 1.5rem;
    }
    .navbar-brand > img {
        max-height: 5.4rem;
    }
    .nav > li > a {
        padding: 1rem 1.5rem;
    }

        .nav > li.dropdown {
            margin-right: 3rem;
        }
    .dropdown-toggle:after {
        right: -1rem;
    }

    /* HERO SECTION */

    .mySlides.fade {
        opacity: initial;
        width: 70%;
    }

    .hero {
        position: relative;
        min-height: 30rem;
    }

    .hero__inner {
        margin-top: -8rem;
        display: flex;
        position: absolute;
        width: 100%;
        margin-left: 33rem;
    }

    .indicator-wrap {
        right: 25%;
    }

    .surround-border {
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
