@media (min-width: 767px) {
    .navbar {
        min-height: 10rem;
    }
    .navbar-brand {
        margin-top: -1.5rem;
        padding: 1.3rem .5rem;
    }
    .navbar-brand > img {
        max-height: 4rem;
    }
    .navbar-content {
        padding: 3rem 2rem;
    }
    .nav > li > a {
        padding: 1rem;
    }

    .nav > li.dropdown {
        margin-right: 1.5rem;
    }
    .dropdown-toggle:after {
        right: -1.5rem;
    }

    .search-form {
        margin-top: 2rem;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > .open > a:focus {
        color: var(--links-color);
        background-color: transparent;
    }
}
