:root {
    --heading-color: #33244A;
    --links-color: #F33F33;
    --body-color: #202B40;
    --green-color: #0AC6E9;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --default-font-size: 1.6rem;
}
